body {
        background: #f5f5f5;
      }
      html {
        font-size: 62.5%;
      }

      :root {
        --header-dark-green: #0f642f;
        --medium-green: #1ea54b;
        --active-button-green: #10b566;
      }

      .mi-navbar {
        background: linear-gradient(90deg, #0f642f, #1ea54b);
        padding: 1.6rem 0;
        font-size: 1.6rem;
      }
      .mi-navbar .navbar-brand {
        color: #fff;
        font-weight: 600;
        font-size: 2.4rem;
      }
      .mi-navbar .nav-link {
        color: #fff;
        margin-left: 0.8rem;
        padding: 0.8rem 1.6rem;
        border-radius: 8rem;
        transition: 0.3s ease;
      }
      .mi-navbar .nav-link:hover {
        background: rgba(255, 255, 255, 0.2);
      }

      .dashboard-card {
        background: #fff;
        padding: 2rem;
        border-radius: 1.2rem;
        box-shadow: 0 2px 12px  #fff;
      }

      table td,
      table th {
        font-size: 1.3rem;
      }

      .small-chart {
        width: 70% !important;
        height: 70% !important;
      }

      .nav-link active fw-bold {
        color: #fff
      }