
html{
font-size: 62.5%; /* 10px = 1rem */
}



:root {
  /* Colores de la paleta */
  --header-dark-green: #0f642f;
  --medium-green: #1ea54b;
  --active-button-green: #10b566;
  --solar-yellow: #f7b543;
  --wind-blue: #4a8cff;
  --hydro-green: #37c788;
  --bioenergy-green: #7ac44b;
  
  /* Fondo y superficies */
  --background-general: #f6fffa;
  --cards-white: #ffffff;
  
  /* Sombras */
  --soft-shadow: rgba(0, 0, 0, 0.08);
}

/* NAVBAR con degradado (HEADER) */
.mi-navbar {
  background: linear-gradient(90deg, #0f642f, #1ea54b);
  padding: 1.6rem 0; /* antes 1rem (16px) */
  font-size: 1.6rem; /* antes 1.4rem (14px) */
}

/* Marca (logo + texto) */
.mi-navbar .navbar-brand {
  color: #fff;
  font-weight: 600;
  font-size: 2.4rem; /* antes 2rem (20px) */
}

/* Links del menú */
.mi-navbar .nav-link {
  color: #fff;
  margin-left: 0.8rem; /* antes 0.5rem (8px) */
  padding: 0.8rem 1.6rem; /* antes 0.5rem 1rem (8px 16px) */
  border-radius: 8rem; /* antes 5rem (80px) */
  transition: 0.3s ease;
}

/* Hover */
.mi-navbar .nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
}






